html
    head
        title= title
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/materialize/materialize.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style.
            .clear {
                clear:both;
            }
            .layout-nav li
            {
                float:left;
                clear:both;
                line-height:40px;
            }
            .layout-nav li a
            {
                color:#696969;
            }

            .layout-nav li i
            {
                float: left;
                line-height: 40px;
                margin: 0 32px 0 0;
                width: 24px;
                color:#696969;
            }
            .no-pad { padding: 0 !important; }
            .story-box
            {
                overflow:hidden;
            }

            @media only screen and (min-width: 601px)
            {
                 .story-box
                {
                    max-height:100px;
                }
            }
            @media only screen and (min-width: 993px)
            {
                 .story-box
                {
                    max-height:250px;
                }
            }
           
    body
        nav.light-blue.lighten-1(role="navigation")
            div.nav-wrapper.container
                a.brand-logo(id="logo-container", href="#") Memorial Health
                ul.right
                    li
                        a(href="#")
                            i.material-icons perm_phone_msg
                ul.side-nav#nav-mobile(style="transform: translateX(-100%);")
                    li.clear
                        a(href="#") Find Doctor
                            i.material-icons person_pin
                    li.clear
                        a(href="#") Services
                            i.material-icons work
                    li.clear
                        a(href="#") Locations
                            i.material-icons location_on
                    li.clear
                        a(href="#") ER Times
                            i.material-icons alarm_on
                    li.clear
                        a(href="#") Contact
                            i.material-icons phone
                    li.clear
                        a(href="#") Company
                            i.material-icons business
                    li.clear
                        a(href="#") Give
                            i.material-icons.red-text.lighten-1 loyalty

                a.button-collapse(href="#", data-activates="nav-mobile")
                    i.material-icons menu
        
        div
            div.row
                div.col.s2.hide-on-med-and-down
                    ul.layout-nav
                        li
                            a(href="#") Find Doctor
                                i.material-icons person_pin
                        li
                            a(href="#") Services
                                i.material-icons work
                        li
                            a(href="#") Locations
                                i.material-icons location_on
                        li
                            a(href="#") ER Times
                                i.material-icons alarm_on
                        li
                            a(href="#") Contact
                                i.material-icons phone
                        li
                            a(href="#") Company
                                i.material-icons business
                        li
                            a(href="#") Give
                                i.material-icons.red-text.lighten-1 loyalty

                div.col.l9.s12
                    div.carousel.carousel-slider.center(data-indicators="true")
                        div.carousel-item.red.white-text(href="#one!")
                            h2 First Panel
                            p.white-text Our First panel goes here
                        div.carousel-item.amber.white-text(href="#two!")
                            h2 Second Panel
                            p.white-text Our Second panel goes here
                        div.carousel-item.green.white-text(href="#three!")
                            h2 Third Panel
                            p.white-text Our Third panel goes here
                        div.carousel-item.blue.white-text(href="#four!")
                            h2 Fourth Panel
                            p.white-text Our Fourth panel goes here

                    div.row
                        div.col.s12.m6.l4
                            div.card.small
                                div.card-image.waves-effect.waves-block.waves-light
                                    img(src="http://i.huffpost.com/gen/1796280/images/o-MIGRAINE-SILENT-STROKE-facebook.jpg")
                                    span.card-title Spokes Fighting Strokes
                                div.card-content
                                    i.activator.material-icons.right(style="cursor:pointer;") more_vert
                                    p Memorial Health System (MHS) invites you to come recognize...
                                    p
                                        a(href="#") MORE
                                div.card-reveal
                                    span.card-title.grey-text.text-darken-4 Spokes Fighting Strokes
                                        i.material-icons.right close
                                    p.right 9/13/2016
                                    p Memorial Health System (MHS) invites you to come recognize National Rehabilitation Week (September 18-24th) and hear stroke survivor and cross country adaptive cyclist Dan Zimmerman who will be at Selby General Hospital.
                                    
                        div.col.s12.m6.l4
                            div.card.small
                                div.card-image.waves-effect.waves-block.waves-light
                                    img(src="http://rcmissioncorps.org/wp-content/uploads/2015/09/bigstock-Support-Give-Donate-Concep-83851868.jpg")
                                    span.card-title Bounty by the River
                                div.card-content
                                    i.activator.material-icons.right(style="cursor:pointer;") more_vert
                                    p Hunger Solutions and its members invite you to attend a fundraising 
                                    p
                                        a(href="#") MORE
                                div.card-reveal
                                    span.card-title.grey-text.text-darken-4 Bounty by the River
                                        i.material-icons.right close
                                    p.right 8/19/2016
                                    p Hunger Solutions and its members invite you to attend a fundraising dinner, Bounty by the River, in Marietta’s beautiful East Muskingum Park on Saturday, September 17 at 6:30 p.m. Tickets are first come, first serve at $100 each. This will includes a gourmet meal created by Master Chef Emad Al-Masri of The Buckley House. There will be a bar accepting credit cards and live music by Vinnie and the Lubricators. All of the proceeds from this event will go directly to supporting local food pantries to eliminate hunger and teach children basic nutrition and cooking skills in Washington County.
                        
                        div.col.s12.m6.l4
                            div.card.small
                                div.card-image.waves-effect.waves-block.waves-light
                                    img(src="http://www.humphriesav.co.uk/wp-content/uploads/2012/01/roy_castle_awards-71-1024x681.jpg")
                                    span.card-title SGH Award
                                div.card-content
                                    i.activator.material-icons.right(style="cursor:pointer;") more_vert
                                    p Selby General Hospital of Memorial Health System was awarded accreditation from the Healthcare Facilities Accreditation Program (HFAP) 
                                    p
                                        a(href="#") MORE
                                div.card-reveal
                                    span.card-title.grey-text.text-darken-4 SGH Award
                                        i.material-icons.right close
                                    p.right 8/5/2016
                                    p Selby General Hospital of Memorial Health System was awarded accreditation from the Healthcare Facilities Accreditation Program (HFAP), an independent accreditation organization recognized by the Centers for Medicare and Medicaid Services (CMS). After the HFAP team conducted an extensive and objective review of the quality and safety Standards of Selby General Hospital, they earned the accreditation.

                    br

                    div.row.hide-on-small-only
                        h2.blue-text.lighten-3 Stories

                        div.row.story-box
                            div.col.s12.m4(style="padding:.1em;")
                                img.responsive-img(src="http://www.mhsystem.org/upload/images/Emergency%20Medicine%20Residency/groupemergency1.jpg")
                            div.col.s12.m2(style="padding:.1em;")
                                img.responsive-img(src="http://www.mhsystem.org/upload/images/imam2.jpg", style="margin-bottom:4px")
                                img.responsive-img(src="http://www.mhsystem.org/upload/images/imam2.jpg")
                            div.col.s12.m6(style="padding:.1em;")
                                img.responsive-img(src="http://www.mhsystem.org/upload/images/responsive/hyperbaric_photo.JPG")

                    br
                    br

                    div.row.purple.lighten-2
                        div.col.s8
                            h4.white-text Foundation
                        div.col.s4.no-pad
                            div.card(style="margin:0;")
                                i.material-icons.right loyalty
                                br
                                div.card-content The Memorial Health System is a community owned health system that strives to build healthier families in our region. The Memorial Health Foundation uses the donations from people like you to financially support the education of our employees and our community, help with renovation expenses and areas of greatest need in the Memorial Health System.
                                div.card-action
                                    a(href="#") EXPLORE


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="js/materialize/materialize.min.js")
        script.
            $(document).ready(function(){
                $('.button-collapse').sideNav();
                $('.carousel.carousel-slider').carousel({full_width: true});
            });