html
    head
        title= title
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="css/materialize/materialize.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style.
            .clear {
                clear:both;
            }
            .point { cursor: pointer; }
            nav .brand-logo
            {
                padding: 0 15px;
            }
            nav .nav-search-wrapper
            {
                position: absolute;
                width: 50%;
                left: 0;
                right: 0;
                top:7px;
                margin: 0 auto;
                background-color:#41c4ff;
                height: 40px;
                line-height: 40px;
                z-index: 9999;
            }
            nav .nav-search-wrapper input.nav-search
            {
                margin:0;
                
            }
            nav .nav-search-wrapper i
            {
                height: 40px;
                line-height: 40px;
            }


            .layout-nav li
            {
                float:left;
                clear:both;
                line-height:40px;
                width:100%;
            }
            .layout-nav li:hover
            {
                background-color: whitesmoke;
            }
            
            .layout-nav li a
            {
                color:#696969;
            }

            .layout-nav li i
            {
                float: left;
                line-height: 40px;
                margin: 0 32px 0 0;
                width: 24px;
                color:#696969;
            }
            .no-pad { padding: 0 !important; }
            .story-box
            {
                overflow:hidden;
            }

            ul.list-inline li
            {
                display:inline-block;
                padding:0 5px;
            }
            ul.secondary-nav
            {
                padding-bottom: 5px;
            }
            ul.secondary-nav li
            {
                padding: 0 10px;
            }
            ul.secondary-nav li.active
            {
                border-bottom: 2px solid white;
            }

            @media only screen and (min-width: 601px)
            {
                 .story-box
                {
                    max-height:100px;
                }
            }
            @media only screen and (min-width: 993px)
            {
                 .story-box
                {
                    max-height:250px;
                }
            }

            .bg-blue{
                background-color:#29b6f6;
            }
            #search-modal
            {
                z-index:1003;
                display:block;
                opacity:1;
                transform: scaleX(1);
                top:10%;
                color:white;
                box-shadow: none;
                background-color:transparent;
            }
            #search-overlay
            {
                z-index:1002;
                display:block;
                opacity:0.8;
            }
           
    body
        nav.light-blue.lighten-1(role="navigation")
            div.nav-wrapper
                a.brand-logo(id="logo-container", href="/") Memorial Health
                div#mainSearch.nav-search-wrapper.hide-on-med-and-down.input-field
                    i.material-icons.prefix search
                    input#siteSearch.nav-search.browser-default(type="search", placeholder="Search")

                ul.right
                    li
                        a(href="#")
                            i.material-icons perm_phone_msg
                ul.side-nav#nav-mobile(style="transform: translateX(-100%);")
                    li.clear
                        a(href="doctors") Find Doctor
                            i.material-icons person_pin
                    li.clear
                        a(href="#") Services
                            i.material-icons work
                    li.clear
                        a(href="#") Locations
                            i.material-icons location_on
                    li.clear
                        a(href="#") ER Times
                            i.material-icons alarm_on
                    li.clear
                        a(href="#") Contact
                            i.material-icons phone
                    li.clear
                        a(href="company") Company
                            i.material-icons business
                    li.clear
                        a(href="#") Give
                            i.material-icons.red-text.lighten-1 loyalty

                a.button-collapse(href="#", data-activates="nav-mobile")
                    i.material-icons menu
        block subheader

        div
            div.row
                div.col.s2.hide-on-med-and-down
                    ul.layout-nav
                        li
                            a(href="doctors") Find Doctor
                                i.material-icons person_pin
                        li
                            a(href="#") Services
                                i.material-icons work
                        li
                            a(href="#") Locations
                                i.material-icons location_on
                        li
                            a(href="#") ER Times
                                i.material-icons alarm_on
                        li
                            a(href="#") Contact
                                i.material-icons phone
                        li
                            a(href="company") Company
                                i.material-icons business
                        li
                            a(href="#") Give
                                i.material-icons.red-text.lighten-1 loyalty

                div.col.l9.s12
                    block content

        #search-modal.modal.hide
            .modal-content
                h4 Results
                p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae quae repellat officia, debitis sapiente alias tempora natus, nam quia laborum.
        #search-overlay.lean-overlay.hide

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(src="js/materialize/materialize.min.js")
        script.
            $(document).ready(function(){
                $('.button-collapse').sideNav();
                $('.carousel.carousel-slider').carousel({full_width: true});

                $('#siteSearch').on('focus', function(e){
                    $('#search-modal,#search-overlay').removeClass('hide');
                });
                
                $('#siteSearch').on('blur', function(e){
                    $('#search-modal,#search-overlay').addClass('hide');
                });
            });
        
        block scr